# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Data files (lokalni CSV-ovi za testiranje)
data/
*.csv

# Secrets (NE commitaj token!)
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
upload_log.txt

# Temporary files
*.tmp
*.bak
app_old.py
brisi_odmah.py
brisi_odmeh2.py
get_dropbox_token.py
slanje_cjenika.py
app_old1.py